<form (submit)="guardarCambios()" [formGroup]="form">

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre"/>
        <mat-error>{{ obtenerErrorCampoNombre() }}</mat-error>
    </mat-form-field>

    <h4> Selecione la ubicacion del cine </h4>
    <app-mapa (coordenandaSeleccionada)="coordenandaSeleccionada($event)"[coordenadasIniciales]="coordenadasIniciales"></app-mapa>

    <div class="contenedor-botones">
        <button type="submit" mat-flat-button [disabled]="form.invalid">
            Guardar Cambios
        </button>

        <a mat-stroked-button routerLink="/cines">
            Cancelar
        </a>
    </div>

</form>