<form>
    <mat-form-field>
        <input type="text" placeholder="Seleccione los acrores" matInput [formControl]="control" [matAutocomplete]="auto">
        <mat-autocomplete #auto (optionSelected)="actorSeleccionado($event)">
         @for (actor of actores; track  $index){
            <mat-option [value]="actor">
                <img [src]="actor.foto"/>
                {{actor.nombre}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>

@if(actoresSeleccionados.length>0){

<table mat-table [dataSource]="actoresSeleccionados" class="mat-elevation-z8" cdkDropList [cdkDropListData]="actoresSeleccionados"
  (cdkDropListDropped)="finalizarArrastre($event)"
>

  <!-- Imagen -->
  <ng-container matColumnDef="imagen">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let actor">
      <img style="width: 50px;" [src]="actor.foto"/>
    </td>
  </ng-container>

  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let actor">
      {{actor.nombre}}
    </td>
  </ng-container>

  <!-- Personaje -->
  <ng-container matColumnDef="personaje">
    <td mat-cell *matCellDef="let actor">
       <mat-form-field appearance="outline" style="margin: 10px 0">
           <mat-label>Personaje</mat-label>
           <input matInput placeholder="Personaje" [(ngModel)]="actor.personaje"/>
       </mat-form-field>
    </td>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let actor">
      <mat-icon (click)="eliminar(actor)">close</mat-icon>
    </td>
  </ng-container>

  
  <tr mat-row *matRowDef="let row; columns: columnasAmostrar" cdkDrag [cdkDragData]="row"></tr>

</table>
}
